# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment
myenv/
.venv/

# Ignore sensitive files
.env
.streamlit/secrets.toml

# Ignore log and data files
*.log
*.csv

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
